@use "../DetailViewCommon.scss";
@use "../../../../../styles/common/color.scss";

$main-color: color.$green;

.DetailViewWork {
  width: 100%;
  background-color: $main-color;
  text-align: justify;
  .Work__Header {
    @include DetailViewCommon.header($main-color);
  }

  .Work__Content {
    @include DetailViewCommon.content($main-color);
  }
}
