@use "../../../../styles/common/mixins/flexbox.scss";

.Header {
  @include flexbox.horizontal(center, center);
  width: 100%;
  h1 {
    width: 100%;
    font-size: 7em;
    font-weight: 500;
    text-align: left;
  }
}
